*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-cyan {background-color: cyan;}
.bg-yellow {background-color: yellow;}
.bg-blue {background-color: blue;}


.h-50 {
    height: 50%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.dashed {
    border: 1px dashed red;
}

.flex {
    display: flex;
}

.top-bar {
    height: 80px;
    justify-content: center;
    align-items: center;
}

header nav {
    height: 80px;
    background-color: cyan;
}

.navbar {
    height: 30px;
    width: 50%;
}

.content {
    height: 900px;
}
