*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav {
    height: 80px;
    background-color: cyan;
}

footer {
    height: 80px;
    background-color: black;
}

footer button {
    padding: 0px 15px;
}

.bg-black {background-color: black;}
.bg-cyan {background-color: cyan;}
.bg-yellow {background-color: yellow;}
.bg-blue {background-color: blue;}
.bg-pink {background-color: #ed81ed;}
.bg-grey {background-color: lightgrey;}
.bg-green {background-color: green;}

.basis-100 {
    flex-basis: 100%;
}

.basis-75 {
    flex-basis: 75%;
}

.basis-50 {
    flex-basis: 50%;
}

.basis-25 {
    flex-basis: 25%;
}

.h-50 {
    height: 50%;
}

.h-75 {
    height: 75%;
}

.h-full {
    height: 100%;
}

.w-50 {
    width: 50%;
}

.w-full {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-25 {
    width: 25%;
}

.dashed {
    border: 1px dashed red;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar {
    height: 80px;
    justify-content: center;
    align-items: center;
}

.navbar {
    height: 30px;
    width: 50%;
}

.jumbotron {
    height: 400px;
}

.content {
    width: 50%;
}

.jumbotron-size {
    width: 40%;
}

.container {
    height: 500px;
}

.container-green {
    height: 80vh;
}
